.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.confetti {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  animation: confetti 5s linear forwards;
  z-index: 999;
  opacity: 0.8;
}

@keyframes confetti {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  99% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
